<md-toolbar color="primary" layout="fill">
	{{ title }}
	<span class="fill-space"></span>
	<button md-raised-button color="accent" [mdMenuTriggerFor]="infoMenu">
    About Answerer &nbsp; 
    <md-icon>info</md-icon>
  </button>
	<md-menu #infoMenu="mdMenu" [overlapTrigger]="true">
    <a md-menu-item [href]="stackoverflowUrl" target="_blank">StackOverflow Profile</a>
    <a md-menu-item [href]="linkedinUrl" target="_blank">LinkedIn Profile</a>
    <a md-menu-item [href]="fiverrUrl" target="_blank">Fiverr Profile</a>
  </md-menu>
</md-toolbar>
<md-card>
	This demo is using Angular <b>{{ angularVersion }}</b> & Material <b>{{ materialVersion }}</b>
</md-card>
<div style="margin-top:10px"></div>